<div class="content mat-app-background">
       <div class = "container">
            <div class = "rowFlex">
                <div class = "col-md-6 offset-md-3 offset-md-3">
                    <h3>{{'Login.loginText' | translate}}</h3>
                    <div class = "card-body mat-app-background">
                        <form class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
                            <div class = "form-group">
                                <mat-form-field>
                                    <mat-label> {{'Login.email' | translate}} </mat-label>
                                    <input matInput placeholder='{{"Login.placeholderEmail" | translate}}' formControlName="email" class="form-control" type="email"/>
                                    <div class="error" *ngIf="loginForm.controls['email'].errors?.['pattern']">
                                        {{'Login.wrong_email' | translate}}
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class = "form-group">
                                <mat-form-field>
                                <mat-label>{{'Login.password' | translate}} </mat-label>
                                <input matInput placeholder='{{"Login.placeholderPass" | translate}}' formControlName="password" class="form-control" type="password" />
                                </mat-form-field>
                            </div>                            
                            <button class="btn btn-success" type="submit" [disabled]=!loginForm.valid>{{'Login.loginText' | translate}}</button>
                        </form>
                        <a class="btn" [routerLink]="['/registration']">{{'Login.sign_up' | translate}}</a>
                    </div>
                </div>
            </div>
       </div>
</div>