.rowFlex {
    display: flex;
    flex-direction: row;
}



  .myCard {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
  }

  .error {
    color: rgb(185, 20, 20);
  }

  label {
    margin-top: 5px;
  }

  input {
    margin-bottom: 7px;
  }

  .btn {
    width: 100%;

  }
  .container {
    margin-top: 100px;
  }