

<div class="content mat-app-background">
       <div class = "container ">
            <div class = "rowFlex">
                <div class = "col-md-6 offset-md-3 offset-md-3 ">
                    <h3>{{'Registration.Text' | translate}}</h3>
                    <div class = "card-body mat-app-background" >
                        <form class="form"  [formGroup]="regForm" (ngSubmit)="onSubmitForm()">
                            <div class = "form-group">
                                <mat-form-field>
                                <mat-label > {{'Registration.login' | translate}} </mat-label>
                                <input matInput placeholder='{{"Registration.login" | translate}}' formControlName="login" class="form-control" />
                                <div class="error" *ngIf=" regForm.controls['login'].errors?.['minlength'] || 
                                                            regForm.controls['login'].errors?.['maxlength'] "  >
                                                            {{'Registration.wrong_login' | translate}}
                                </div>
                            </mat-form-field>
                            </div>
                            <div class = "form-group">
                                <mat-form-field>
                                <mat-label>{{'Registration.password' | translate}} </mat-label>
                                    <input matInput placeholder='{{"Registration.password | translate}}' formControlName="password" class="form-control" type="password" />
                                <div class="error" *ngIf=" regForm.controls['password'].errors?.['minlength'] || 
                                                            regForm.controls['password'].errors?.['pattern'] ||
                                                             regForm.controls['password'].errors?.['maxlength'] "  >
                                                             {{'Registration.wrong_pass' | translate}}
                                </div>
                                </mat-form-field>
                            </div>
                            <div class = "form-group">
                                <mat-form-field>
                                <mat-label> {{'Registration.confirm_password' | translate}} </mat-label>
                                <input matInput placeholder='{{"Registration.confirm_password" | translate}}' formControlName="confirmPassword" class="form-control" type="password" />
                                <div class="error" *ngIf="regForm.hasError('notSame')">
                                    {{'Registration.pass_not_equal' | translate}}
                                </div>
                            </mat-form-field> 
                            </div>
                            <div class="userRole">
                                <mat-checkbox 
                                id="isTeacher"
                                formControlName="isTeacher">
                                {{'Registration.teacher' | translate}}
                                </mat-checkbox>

                            <mat-checkbox
                                id="isStudent"
                                formControlName="isStudent">
                                {{'Registration.student' | translate}}
                            </mat-checkbox> 

                            </div>
                            <div  *ngIf="regForm.hasError('noRoles')">
                                {{'Registration.choose_role' | translate}}
                            </div> 
                            <div class = "form-group">
                                <mat-form-field>
                                <mat-label>  {{'Registration.email' | translate}} </mat-label>
                                <input matInput placeholder='{{"Registration.email" | translate}}' formControlName="email" class="form-control" type="email"/>
                                <div class="error" *ngIf="regForm.controls['email'].errors?.['pattern']">
                                    {{'Registration.wrong_email' | translate}}
                                </div>
                            </mat-form-field>
                            </div>
                            
                            <button class="btn btn-success" type="submit" [disabled]=!regForm.valid>{{'Registration.save' | translate}}</button>
                            <div class="href"><a class="mat-app-background" [routerLink]="['/login']">{{'Registration.sign_in' | translate}}</a></div>
                        </form>
                    
                       
                        
                    </div>
                   
                </div>
            </div>

       </div>
</div>