.table {
    display: flex;
    flex-direction: row;
}

.height {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.day-column {
    display: flow-root;
    flex-direction: column;
    align-items: center;
}


.day {
    font-size:larger;
    margin: 0 0 15px 0;
}

.btn-time {
      align-items: center;
      border: 1px solid rgba(13, 11, 11, 0.1);
      border-radius: .25rem;
      box-shadow: rgba(19, 17, 17, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      /* color: rgba(0, 0, 0, 0.85); */
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: 100%;
      margin-bottom: 5.5px;
    }
    
    .btn-time:hover,
    .btn-time:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    .btn-time:hover {
      transform: translateY(-1px);
    }
    
    .btn-time:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(154, 38, 38, 0.65);
      transform: translateY(0);
    }


    h3 {
      text-align: center;
      font-size: 2.5rem;
  }