 <nav class="navbar navbar-inverse bg-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>ForePoint</h1>
      </div>
      <div class="nav">
      <div class="nav-item" *ngIf="role==='student'">
        <a mat-button class="nav-link mat-app-background" routerLink="/search">
          {{'appBar.options.search' | translate}}
        </a>
      </div>
      <div class="nav-item" *ngIf="!isUserLoggedIn">
        <a mat-button class="nav-link mat-app-background" routerLink="/login">
          {{'appBar.options.login' | translate}}

        </a>
      </div>
      <div class="nav-item" >
        <a mat-button class="nav-link mat-app-background" routerLink="/profile">
          {{'appBar.options.profile' | translate}}
        </a>
      </div>
      <div class="nav-item" *ngIf="isUserLoggedIn">
        <a mat-button class="nav-link mat-app-background" routerLink="/search">
          {{'appBar.options.logout' | translate}}
        </a>
      </div>
    </div>
    </div>
  </nav>