 <nav class="navbar navbar-inverse bg-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>ForePoint</h1>
      </div>
      <div class="nav">
      <div class="nav-item" *ngIf="role==='student'">
        <a mat-button class="nav-link mat-app-background" routerLink="/search">
          SEARCH
        </a>
      </div>
      <div class="nav-item" *ngIf="!isUserLoggedIn">
        <a mat-button class="nav-link mat-app-background" routerLink="/login">
          LOGIN
        </a>
      </div>
      <div class="nav-item" >
        <a mat-button class="nav-link mat-app-background" routerLink="/profile">
          PROFILE
        </a>
      </div>
      <div class="nav-item" *ngIf="isUserLoggedIn">
        <a mat-button class="nav-link mat-app-background" routerLink="/search">
          LOGOUT
        </a>
      </div>
    </div>
    </div>
  </nav>