.f-flex {
    width: 60% ;
}

.mycard {
    width: 30%;
}

.height {
    height: 100%;
    min-height: 100vh;
}

h3 {
    text-align: center;
}

.content {
    width: 45%;
}
.day-column {
    gap: 19px;
}

.gap {
    gap: 4px;
}

.card {
    padding: 21px;
}

.mat-label {
    font-weight: 900;
    font-size: 20px;
}