<div class="mat-app-background">
    <div class = "container ">
         <div class = "rowFlex">
             <div class = "myCard col-md-6 offset-md-3 offset-md-3">
                 <h3 class="display-4 headline-6 ">  {{'Search.title' | translate}}</h3>
                 <div class = "card-body mat-app-background">
                    <form [formGroup]="searchCriteria" (ngSubmit)="onSubmitForm()">
                        <div class = "form-group">
                        <mat-form-field >
                            <mat-label>{{'Search.language' | translate}} :</mat-label>
                            <mat-select matNativeControl formControlName="language" >
                                <mat-option value="ENGLISH">{{'Search.english' | translate}}</mat-option>
                                <mat-option value="SPANISH">{{'Search.spanish' | translate}}</mat-option>
                                <mat-option value="ITALIAN">{{'Search.italian' | translate}}</mat-option>
                                <mat-option value="GERMAN">{{'Search.german' | translate}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
            
                        <div class = "form-group">
                            <mat-form-field >
                                <mat-label>{{'Search.language_level' | translate}}:</mat-label>
                                <mat-select matNativeControl formControlName="levelFrom" >
                                    <mat-option value="ELEMENTARY">{{'Search.elementary' | translate}}</mat-option>
                                    <mat-option value="PRE_INTERMEDIATE">{{'Search.pre_int' | translate}}</mat-option>
                                    <mat-option value="INTERMEDIATE">{{'Search.int' | translate}}</mat-option>
                                    <mat-option value="UPPER_INTERMEDIATE">{{'Search.upper_int' | translate}}</mat-option>
                                    <mat-option value="ADVANCED">{{'Search.advanced' | translate}}</mat-option>
                                    <mat-option value="PROFESSIONAL">{{'Search.proff' | translate}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                       
                        <div class = "form-group">
                                <mat-form-field >
                                    <mat-label>{{'Search.country' | translate}} :</mat-label>
                                    <mat-select matNativeControl formControlName="country" >
                                        <mat-option value="BELARUS">{{'Search.belarus' | translate}}</mat-option>
                                        <mat-option value="CANADA">{{'Search.canada' | translate}}</mat-option>
                                        <mat-option value="USA">{{'Search.usa' | translate}}</mat-option>
                                        <mat-option value="UK">{{'Search.uk' | translate}}</mat-option>
                                        <mat-option value="RUSSIA">{{'Search.russia' | translate}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                        </div>
                        <div class="nativeOption form-group">
                        <mat-checkbox
                            id="isNative"
                            formControlName="isNative">
                            {{'Search.is_native' | translate}}
                        </mat-checkbox>
                        </div>

                        <div class = "form-group">
                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.exp_from' | translate}} : </mat-label>
                                <input matInput placeholder="{{'Search.exp_from_placeh' | translate}}" formControlName="experienceFrom" class="form-control" type="number"/>
                            </mat-form-field>

                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.exp_to' | translate}}: </mat-label>
                                <input matInput placeholder="{{'Search.exp_to_placeh' | translate}}" formControlName="experienceTo" class="form-control" type="number"/>
                            </mat-form-field>
                        </div>
                        <div class = "form-group">
                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.mark_from' | translate}} : </mat-label>
                                <input matInput placeholder="{{'Search.mark_from_placeh' | translate}}" formControlName="markFrom" class="form-control" type="number"/>
                            </mat-form-field>
                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.mark_to' | translate}} : </mat-label>
                                <input matInput placeholder="{{'Search.mark_to_placeh' | translate}}" formControlName="markTo" class="form-control" type="number"/>
                            </mat-form-field>
                        </div>
                        <div class = "form-group">
                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.price_from' | translate}} : </mat-label>
                                <input matInput placeholder="{{'Search.price_from_placeh' | translate}}" formControlName="defaultPriceFrom" class="form-control" type="number"/>
                            </mat-form-field>
                            <mat-form-field class = "form-group">
                                <mat-label> {{'Search.price_to' | translate}}: </mat-label>
                                <input matInput placeholder="{{'Search.price_to_placeh' | translate}}" formControlName="defaultPriceTo" class="form-control" type="number"/>
                            </mat-form-field>
                        </div>
                        <button class="btn btn-success" type="submit">{{'Search.submit' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
                