<div>
       <div className = "container">
            <div className = "rowFlex">
                <div className = "myCard  offset-md-3 offset-md-3">
                    <button mat-raised-button color="primary" className="btn btn-secondary" id="teacher" (click)=helloRole($event)>teacher</button>
                    <button mat-raised-button color="accent" className="btn btn-secondary" id="student" (click)=helloRole($event)>student</button>
                </div>
            </div>
       </div>
</div>