<router-outlet>
    <mat-toolbar >
       
        <mat-toolbar-row>
            <app-header title="ForePoint" [isUserLoggedIn]=false ></app-header>
            
            <div class="flex-stretch"></div>
            <div  style="margin-right: 23px; " class="selectText">
                {{'appBar.select_languages' | translate}}
                <mat-form-field style="width: 40px;">
                  <mat-select [(ngModel)]="selected" (ngModelChange)="changeLanguage()" >
                    <mat-option *ngFor="let item of supportedLanguages" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
             
            </div>
            <mat-icon class="mr-8">brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
            </mat-slide-toggle>
            <mat-icon>bedtime</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</router-outlet>
