<div>
    <div class = "container">
         <div class = "rowFlex">
             <div class = "myCard col-md-6 offset-md-3 offset-md-3">
                 <h3>Teacher Info</h3>
                 <div class = "card-body">
                    <form [formGroup]="teacherInfoForm" (ngSubmit)="onSubmitForm()">
                        <div class = "form-group">
                            <label> Language: </label>
                            <select name="language" formControlName="language"  class="form-control" id="language">
                                <option value="ENGLISH">English</option>
                                <option value="SPANISH">Spanish</option>
                                <option value="ITALIAN">Italian</option>
                                <option value="GERMAN">German</option>
                            </select>
                        </div>
                        
                        <div class = "form-group">
                            <label> Language level: </label>
                            <select name="level" formControlName="level"  class="form-control" id="level">
                                <option value="ELEMENTARY">Elementary</option>
                                <option value="PRE_INTERMEDIATE">Pre-intermediate</option>
                                <option value="INTERMEDIATE">Intermediate</option>
                                <option value="UPPER_INTERMEDIATE">Upper-intermediate</option>
                                <option value="ADVANCED">Advanced</option>
                                <option value="PROFESSIONAL">Professional</option>
                            </select>
                        </div>
                        <div class = "form-group">
                        <label> Country: </label>
                        <select name="country" formControlName="country"  class="form-control" id="country">
                            <option value="BELARUS">Belarus</option>
                            <option value="CANADA">Canada</option>
                            <option value="USA">USA</option>
                            <option value="UK">UK</option>
                            <option value="RUSSIA">Russia</option>
                        </select>
                        </div>
                        <div class="nativeOption form-group">
                        <input
                            type="checkbox"
                            id="isNative"
                            formControlName="isNative"
                            />
                            Is native
                        </div>
                        <div class = "form-group">
                            <label> Expirience: </label>
                            <input placeholder="Expirience in years" formControlName="experience" class="form-control" type="number"/>
                        </div>
                        <div class = "form-group">
                            <label> Price per hour: </label>
                            <input placeholder="Price in usd" formControlName="defaultPrice" class="form-control" type="number"/>
                        </div>
                        <div class = "form-group">
                            <label> Description: </label>
                            <textarea placeholder="Write a couple of words about you" formControlName="description" class="form-control" ></textarea>
                        </div>
                        <div class="form-group" >
                            <input type="file" (input)="updateFile($event)"  class="form-control">
                        </div>
                        <button class="btn btn-success" type="submit" [disabled]=!teacherInfoForm.valid>Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
                