<div class = "container mat-app-background" >
    <h3>Schedule</h3>
    <div class="d-flex align-items-center justify-content-around">
    <button [disabled]="hasPrevWeek()"
          matPrefix
          mat-icon-button
          color="primary"
          (click)="changeWeek(true)"
          matTooltip="previous week"
          matTooltipPosition="below"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    <div>{{startWeekDate | date: 'fullDate'}}</div>
    <div>{{finishWeekDate | date: 'fullDate'}}</div>
    <button
          matPrefix
          mat-icon-button
          color="primary"
          (click)="changeWeek(false)"
          matTooltip="next week"
          matTooltipPosition="below"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div> 
    <br>
    <form class="form" (ngSubmit)="onSubmitForm()">
        <div class = "d-flex justify-content-between">
            <div class="day-column" *ngFor="let slot of slots">
                    <!-- <a routerLink="/detail/{{slot.time}}">
                        <span class="badge">{{hero.id}}</span> {{hero.name}}
                    </a> -->
            <mat-label class="col-sm day">{{slot.day}}</mat-label>
            <div *ngFor="let time of slot.timeslots">
                <button type="button" [disabled]="time.isDisabled" class="btn btn-light btn-time" [ngStyle]="{'background-color': (time.selected) ?  'blue' : 'white'}"
                    (click)="ngOnClickSlot(time)">{{time.timeInHHMM | date : 'HH:mm'}}</button>
            </div>
            </div>
        </div>
        <div   style="display: flex; justify-content: flex-end">
        <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>
       
            
