<div>
       <div class = "container">
            <div class = "rowFlex">
                <div class = "myCard col-md-6 offset-md-3 offset-md-3">
                    <h3>Registration</h3>
                    
                    <div class = "card-body">
                   
                        <form class="form"  [formGroup]="regForm" (ngSubmit)="onSubmitForm()">
                            <div class = "form-group">
                                <label> Login: </label>
                                <input placeholder="Login" formControlName="login" class="form-control" />
                                <div class="error" *ngIf=" regForm.controls['login'].errors?.['minlength'] || 
                                                            regForm.controls['login'].errors?.['maxlength'] "  >
                                    login should contain 4-15 characters
                                </div>
                            </div>
                            <div class = "form-group">
                                <label>Password: </label>
                                <input placeholder="Password" formControlName="password" class="form-control" type="password" />
                                <div class="error" *ngIf=" regForm.controls['password'].errors?.['minlength'] || 
                                                            regForm.controls['password'].errors?.['pattern'] ||
                                                             regForm.controls['password'].errors?.['maxlength'] "  >
                                    password should contain 8-20 characters, [a-z], [A-Z], [0-9] 
                                </div>
                            </div>
                            <div class = "form-group">
                                <label> Confirm Password: </label>
                                <input placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" type="password" />
                                <div class="error" *ngIf="regForm.hasError('notSame')">
                                    Passwords do not match
                                </div> 
                            </div>
                            <div class="userRole">
                            <input
                                type="checkbox"
                                id="isTeacher"
                                formControlName="isTeacher"
                                />
                                Teacher
                            
                            <input
                                type="checkbox"
                                id="isStudent"
                                formControlName="isStudent"
                                />
                                Student
                            </div>
                            <div  *ngIf="regForm.hasError('noRoles')">
                                Choose at least one Role
                            </div> 
                            <div class = "form-group">
                                <label> Email: </label>
                                <input placeholder="Email Address" formControlName="email" class="form-control" type="email"/>
                            </div>
                            <div class="error" *ngIf="regForm.controls['email'].errors?.['pattern']">
                                wrong email
                            </div>
                            <button class="btn btn-success" type="submit" [disabled]=!regForm.valid>Save</button>
                        </form>
                    
                        <a class="btn" [routerLink]="['/login']">sign in</a>
                    </div>
                </div>
            </div>

       </div>
</div>